[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
python-dateutil = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.7"
